.feedback-form {
  margin: 40px;
  min-width: 250px;
  width: 45%;
}
input,
textarea,
button {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}

button {
  background-color: teal;
  border: none;
  color: white;
  width: 50%;
  cursor: pointer;
}

.hidden {
  position: absolute;
  left: -9999px;
}
